# Midnight Network Preprod Configuration
NEXT_PUBLIC_MIDNIGHT_NETWORK=preprod
NEXT_PUBLIC_MIDNIGHT_INDEXER_URI=https://indexer.preprod.midnight.network/api/v1/graphql
NEXT_PUBLIC_MIDNIGHT_INDEXER_WS_URI=wss://indexer.preprod.midnight.network/api/v1/graphql/ws
NEXT_PUBLIC_MIDNIGHT_NODE_URI=https://rpc.preprod.midnight.network
NEXT_PUBLIC_MIDNIGHT_PROVING_SERVER_URI=http://localhost:6300

# Deployed EclipseLend Compact Smart Contract Address on Midnight Preprod
NEXT_PUBLIC_MIDNIGHT_CONTRACT_ADDRESS=1cabc3aaed1c57db5eddcd1b24d7df1808ec7cb39ff266dfdfb14be93fe9e722
